<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>256186433105-bk40ff2i7tlvj7jfi0pdiltea571h7pl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256186433105-bk40ff2i7tlvj7jfi0pdiltea571h7pl</string>
	<key>API_KEY</key>
	<string>AIzaSyD81BnJA_hcdBcyzvnCrrdl_jd_rsc90hM</string>
	<key>GCM_SENDER_ID</key>
	<string>256186433105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.devangpatel.visionH-</string>
	<key>PROJECT_ID</key>
	<string>visionh-cd104</string>
	<key>STORAGE_BUCKET</key>
	<string>visionh-cd104.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256186433105:ios:aa30d45f126b59d1</string>
	<key>DATABASE_URL</key>
	<string>https://visionh-cd104.firebaseio.com</string>
</dict>
</plist>